
<!-- footer -->
<footer class="footer item-animation item-atop">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<div class="menu-wrap js-popup-wrap no-close">
					<div class="menu-title btn-popup js-btn-popup-toggle active">Информация</div>
					<div class="menu-content-block js-popup-block">
						<ul class="menu">
							<li><a href="">О салоне</a></li>
							<li><a href="">Контакты</a></li>
							<li><a href="">Отзывы</a></li>
							<li><a href="">Наши проекты</a></li>
							<li><a href="">Оптовые продажи</a></li>
							<li><a href="">Политика конфиденциальности</a></li>
						</ul>
					</div>
				</div>
				<div class="menu-wrap js-popup-wrap no-close">
					<div class="menu-title btn-popup js-btn-popup-toggle">Помощь покупателю</div>
					<div class="menu-content-block js-popup-block">
						<ul class="menu">
							<li><a href="">Главная</a></li>
							<li><a href="">Оплата и доставка</a></li>
							<li><a href="">Акции</a></li>
							<li><a href="">Частые вопросы</a></li>
							<li><a href="">Гарантия</a></li>
							<li><a href="">Установка</a></li>
							<li><a href="">Рассрочка</a></li>
						</ul>
					</div>
				</div>
				<div class="menu-wrap js-popup-wrap no-close">
					<div class="menu-title btn-popup js-btn-popup-toggle">Каталог товаров</div>
					<div class="menu-content-block js-popup-block">
						<ul class="menu">
							<li><a href="">Большие люстры</a></li>
							<li><a href="">Люстры</a></li>
							<li><a href="">Подвесные светильники</a></li>
							<li><a href="">Потолочные светильники</a></li>
							<li><a href="">Торшеры</a></li>
							<li><a href="">Бра и настенные светильники</a></li>
							<li><a href="">Настольные лампы</a></li>
							<li><a href="">Подсветки для картин</a></li>
							<li><a href="">Встраиваемые светильники</a></li>
							<li><a href="">Споты</a></li>
							<li><a href="">Уличное освещение</a></li>
							<li><a href="">Вазы</a></li>
							<li><a href="">Предметы интерьера</a></li>
							<li><a href="">Картины</a></li>
						</ul>
					</div>
				</div>
				<div class="menu-wrap js-popup-wrap no-close">
					<div class="menu-title btn-popup js-btn-popup-toggle">На связи</div>
					<div class="menu-content-block js-popup-block">
						<div class="phone-wrap">
							<a href="tel:84952680445">+7 495 268-04-45</a>
						</div>
						<div class="phone-wrap">
							<a href="tel:89037251603">+7 903 725-16-03</a>
							<a href="" class="btn-action-ico button-soc">
								<img src="./img/icons/soc-wa.svg" alt="">
							</a>
						</div>
						<div class="email-wrap">
							<a href="mailto:info@kv-art.ru" class="link-email">info@kv-art.ru</a>
						</div>
						<div class="info-wrap">
							<p>Москва, ул. Маршала Рыбалко, 2к6, пом. 441, подъезд 4, этаж 4.</p>
							<p>Cтанция метро «Октябрьское поле» либо МЦК »Панфиловская».</p>
						</div>
						<div class="action-wrap">
							<a href="" class="btn button-small button-border">
								<div class="button-title">написать нам</div>
								<div class="button-ico">
									<img src="./img/icons/arrow-button.svg" alt="">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="studio-wrap">Сделано <br><a href="" class="studio-logo"><img src="./img/studio.svg" alt=""></a></div>
			<div class="info-wrap">© 2024 <br>«Красивая&nbsp;квартира»</div>
			<div class="pays-wrap">
				<div class="elm-photo">
					<img src="./img/pays.svg" alt="">
				</div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->



<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-callback">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close-small js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title h2-title">Напишите нам</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя*">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" class="form-input" placeholder="E-mail*">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Телефон*">
					</div>
					<div class="frm-field field-button">
						<a href="" class="btn button-add"></a>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<textarea class="form-input" placeholder="Ваш вопрос*"></textarea>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						<div class="frm-select">
							<input type="checkbox" id="popup">
							<label for="popup">Нажимая кнопку «Оформить заказ», Вы даете свое согласие
							на <a href="">обработку персональных данных</a></label>
						</div>
					</div>
					<div class="frm-field">
						<button type="submit" class="btn button-border">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->